* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
}

.display {
  background-color: #e25467;
  margin-top: 60px;
  color: rgb(77, 66, 66);
  justify-content: flex-end;
  display: flex;
  align-items: center;
  font-size: 45px;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.display,
.btn-group {
  height: 60px;
  width: 130%;
  border-radius: 10px;
}

.btn-group .button {
  width: 25%;
  height: 100%;
  border: rgb(40, 32, 151) 1px solid;
  color: rgb(31, 24, 24);
  font-size: 25px;
  border-radius: 10px;
  background-color: rgb(102, 116, 116);
  box-shadow:
    -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

.btn-group:active {
  background-color: yellow;
}

.btn-group .button:active {
  background-color: aqua;
}
