* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 40%;
  padding: 5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 490px;
  margin: 20px auto;
}

.display {
  background-color: #e25467;
  margin-top: 60px;
  color: rgb(77, 66, 66);
  font-weight: bolder;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  font-size: 45px;
}

.button-panel {
  width: 490px;
  height: 400px;
  background-color: #b37f53;
  color: #000;
}

button {
  margin-top: 5%;
  margin-left: 3%;
  width: 30%;
  background-color: black;
  border: rgb(40, 32, 151) 1px solid;
  color: white;
  font-size: 25px;
  border-radius: 12px;
  box-shadow: 1px 4px #678;
}

.grey {
  margin-left: 36%;
  background-color: #e25467;
}

.grey:active {
  cursor: pointer;
  background-color: aqua;
  color: #000;
}

.black {
  background-color: rgb(163, 68, 163);
}

.black:active {
  background-color: #678;
}
